<!-- Modal -->
<div *ngIf="visible" style="display:block;" role="dialog"  class="modal fade show" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">{{title}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="handleCancel()"
            ></button>
        </div>
        <div class="modal-body">
            {{content}}
           <ng-content></ng-content>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn {{cancelClass}}" data-bs-dismiss="modal"
                (click)="handleCancel()"
            >{{cancelText}}</button>
            <button type="button" class="btn {{confirmClass}}"
            (click)="handleConfirm()"
            >{{confirmText}}</button>
        </div>
        </div>
    </div>
    </div>