<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" >
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">{{title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"  aria-current="page" [routerLink]='["/flight/list"]'><i class="fa-solid fa-list"></i>Flights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" [routerLink]='["/flight/add"]' ><i class="fa-solid fa-plus"></i>Flight</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"  aria-current="page" [routerLink]='["/booking/list"]' ><i class="fa-solid fa-list"></i>My Booking</a>
          </li>
          
        </ul>
        
        <!-- [routerLink]='["/flight/list"]' -->
        <user-membership class=" ml-auto mx-5"></user-membership>
        
      </div>
    </div>
  </nav>
