footer{
    border-top:1 px solid gray;
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    color:white;
    box-shadow: -5px 0px 5px gray;
    background-color: black;
    margin-top: 50px;
    padding-top: 10px;
}